<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="../static/dist/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../static/dist/css/component-chosen.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/register.js"></script>
</head>
<body>

<div class="jq22-register-popup">
    <div class="jq22-register-box">
        <div class="jq22-register-link">
            <a href="javascript:;" class="fl">返回首页</a>
        </div>
        <div class="jq22-register-logo">
            预测模型
        </div>

        <div class="jq22-register-form" id="verifyCheck">

            <form action="" method="post">

                <p><label for="">满意度：<input type="text" name="satisfaction_level"></label></p>
                <p><label for="">评级：<input type="text" name="last_evaluation"></label></p>
                <p><label for="">项目数：<input type="text" name="number_project"></label></p>
                <p><label for="">月工时：<input type="text" name="average_monthly_hours"></label></p>
                <p><label for="">公司时长：<input type="text" name="time_spend_company"></label></p>
                <p><label for="">工作事故：<input type="text" name="Word_accident"></label></p>
                <p><label for="">是否离职：<input type="text" name="left"></label></p>
                <p><label for="">晋升：<input type="text" name="promotion_last_5years"></label></p>
                <p><label for="">部门：<input type="text" name="department"></label></p>
                <p><label for="">工资：<input type="text" name="salary"></label></p>
                <div class="jq22-register-form-item">
                    <input type="submit" value="提交" class="form-control" aria-describedby="basic-addon2">
                </div>
                {% csrf_token %}
            </form>
        </div>
        <div class="jq22-register-bottom">
            <a>©bootstrapmb.com</a>
            <a href="#">联系客服</a>
            <a href="#">帮助中心</a>
            <div class="clear"></div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    $(function () {

        $("#jq22-btn-reg").click(function () {
            if (!verifyCheck._click()) return;
            alert('查询完成')

        });
    });
</script>
<script src="../static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../static/js/chosen.jquery.js"></script>
<script type="text/javascript">
    $('.form-control-chosen').chosen({
        allow_single_deselect: true,
        width: '100%'
    });
    $('.form-control-chosen-required').chosen({
        allow_single_deselect: false,
        width: '100%'
    });
    $('.form-control-chosen-search-threshold-100').chosen({
        allow_single_deselect: true,
        disable_search_threshold: 100,
        width: '100%'
    });
    $('.form-control-chosen-optgroup').chosen({
        width: '100%'
    });

    $(function () {
        $('[title="clickable_optgroup"]').addClass('chosen-container-optgroup-clickable');
    });
    $(document).on('click', '[title="clickable_optgroup"] .group-result', function () {
        var unselected = $(this).nextUntil('.group-result').not('.result-selected');
        if (unselected.length) {
            unselected.trigger('mouseup');
        } else {
            $(this).nextUntil('.group-result').each(function () {
                $('a.search-choice-close[data-option-array-index="' + $(this).data('option-array-index') + '"]').trigger('click');
            });
        }
    });
</script>
</html>
